<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/profile.css') }}">
    <title>{{product_name}}</title>
    <style>
            .pushable {
      background: goldenrod;
      border-radius: 8px;
      border: none;
      padding: 0;
      cursor: pointer;
      outline-offset: 4px;
    }
    .front {
      display: block;
      padding: 0px 2px;
      border-radius: 8px;
      font-size: 1rem;
      background: #2AAA8A;
      color: white;
      transform: translateY(1px);
    }

    .pushable:active .front {
      transform: translateY(-2px);
    }

        #product_name1{
             display: inline-block;
        }
        #hypen1{
             display: inline-block;
        }
        #measurement1{
             display: inline-block;
        }
        #product_name2{
             display: inline-block;
        }
        #hypen2{
             display: inline-block;
        }
        #measurement2{
             display: inline-block;
        }
        #cart{
             display: inline-block;
        }
        #button{
            border-color: white;
            color: black;
            background-color: white;
            font-size: 15px;
        }
        #button:hover{
            background: grey;
            color: white;
        }
        .qua{
            display: inline-block;
        }
        .qua .text {
            display: flex;
        }
        .qua .text .prodWord, .qua .text .prodCount {
          height: 100%;
          color: SeaGreen;
          font-weight: bold;
        }
        .qua .prodCounter {
          height: 33px;
          color: SeaGreen;
          display: flex;
          align-items: center;
        }
        .qua .prodCounter div {
          border: 1px solid gray;
          height: 26px;
          width: 16px;
          text-align: center;
          line-height: 22px;
          vertical-align: middle;
          font-weight: 300;
          border-right: none;
          display: inline-block;
        }
        .qua .prodCounter .prodNum {
          font-weight: 500;
          width: 26px;
          color: SeaGreen;
        }
        .qua .prodCounter .prodAdd {
          border-right: 1px solid gray;
        }
        .qua .prodCounter .prodAdd, .qua .prodCounter .prodSub {
          cursor: pointer;
          color: SeaGreen;
        }
        .qua .prodCounter .prodAdd:hover, .qua .prodCounter .prodSub:hover {
          background: #c7b299;
          color: #f2f2f2;
        }
        #prodBtn{
            padding: 15px;
            background: goldenrod;
            border-color: white;
            border-radius: 25px;
            color: white;
            font-family: Times New Roman, serif;
            font-weight: bold;
            cursor: pointer;
            position:relative;
            left: 120px;
            top: -50px;
        }
        #prodBtn:hover{
            background: goldenrod;
            color: Black;
            letter-spacing: .2rem;
        }
    </style>
    <link rel="stylesheet" href="static/assets/css/header.css">
    <link rel="stylesheet" href="static/assets/css/footer.css">
    <link rel="stylesheet" href="static/assets/css/millet_home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>

<body>
<!--header section starts-->
<div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
        <div class="logo">Millets Market</div>
        <ul class="links" style="top:6px;">
          <li><a href="/" style="margin-left:150px;">Home</a></li>
          <li style="text-align: left;">
            <a href="#" class="desktop-link">Products</a>
            <input type="checkbox">
            <label for="show-features">Products</label>
            <ul>
              {% for categories_loop in categories %}
                <form action="/product_list" method="post" >
                    <li><button style="margin-left:0px; text-indent: -0px; background-color:black; font-size: 16px; border-color: black; width: 100%; cursor: pointer; font-family: Poppins, sans-serif; color: white; border:None;" name="category_name" value="{{categories_loop[1]}}">{{categories_loop[1]}}</button></li>
                </form>
                {% endfor %}
            </ul>
          </li>
            <li>
                <a href="#" class="desktop-link">Recipes</a>
                <input type="checkbox" id="show-features">
                <label for="show-features">Recipes</label>
                <ul>

                    <!--<form action="/diabetic" method="post" ><li><button style="background-color:darkSlateGrey">Diabetic Corner</li></form>--->
                  <li><a href="/diabetic">Diabetic Corner</a></li>
                  <li><a href="/snacks">Sweets & Snacks</a></li>
                  <li><a href="/meals">Healthy Meals</a></li>
                </ul>
          </li>
          <li><a href="#footer">Contact Us</a></li>
        </ul>
      </div>
        <a href="/order_summary"><i class="fa fa-shopping-bag" style="font-size:25px;color:goldenrod" id="order_summary"></i></a>
          <!-- profile -->
        <div class="action">
            <div class="profile" onclick="menuToggle();">
                <img src="static/images/user.png" alt="">
            </div>
            <label id="trails1">{{name}}</label>

            <script>
                var nameLocal = localStorage.getItem("name");
                var nameTag = document.getElementById("trails1").textContent;

                if (nameLocal != nameTag && nameTag != ""){
                   localStorage.setItem("name",nameTag);
                }
            </script>

            <div class="menu">
                <ul id="trails2">

    <!--                <li>
                        <span class="material-icons icons-size">person</span>
                        <a href="{{ url_for('static', filename='my_profile.html') }}">My Profile</a>
                    </li>
                    <li>
                        <span class="material-icons icons-size">login</span>
                        <a href="{{ url_for('static', filename='signin.html') }}">Login</a>
                    </li>
                    <li>
                        <span class="material-icons icons-size">shopping-bag</span>
                        <a href="{{ url_for('static', filename='my_orders.html') }}">My Orders</a>
                    </li>
                    <li>
                        <span class="material-icons icons-size">logout</span>
                        <a href="#">Logout</a>
                    </li> -->

                </ul>
            </div>
        </div>
        <script>
            function menuToggle(){
                const toggleMenu = document.querySelector('.menu');
                toggleMenu.classList.toggle('active')
            }
        </script>
        <script>
            let signinText = localStorage.getItem('signin');
            console.log("!!!!!!!!!!");
            console.log(signinText);


            if (signinText != null){
                var name = localStorage.getItem("name");
                document.getElementById("trails1").innerHTML = name;

                 var li1 = document.createElement("li");
                    var li1Span = document.createElement("span");
                    li1Span.setAttribute("class","fas fa-user");
                    li1Span.style.color= 'black';
                    li1.append(li1Span);

                    var li1Form = document.createElement("Form");
                    li1Form.setAttribute("action","/my_profile");
                    li1Form.setAttribute("method","post");
                        var li1Btn = document.createElement("button");
                        li1Btn.setAttribute("value", signinText);
                        li1Btn.setAttribute("name", "email");
                        li1Btn.innerHTML = "MY PROFILE";
                        li1Btn.style.color= 'black';
                        li1Btn.style.fontWeight= 600;
                        li1Btn.style.fontSize= "14px";
                        li1Btn.style.border= "None";
                        li1Btn.style.backgroundColor= "white";
                        li1Form.append(li1Btn);
                    li1.append(li1Form);
                 document.getElementById("trails2").appendChild(li1);


                 var li2 = document.createElement("li");
                    var li2Span = document.createElement("span");
                    li2Span.setAttribute("class","fas fa-shopping-bag");
                    li2Span.style.color= 'black';
                    li2.append(li2Span);

                    var orderIdCheck = localStorage.getItem('order_check');
                    if (orderIdCheck != '{{order_id}}' && '{{order_id}}' != ""){
                        localStorage.setItem('order_check', '{{order_id}}');
                        var orderId = localStorage.getItem('order_check');
                    }
                    console.log("00")
                    console.log(orderIdCheck)
                    if (orderIdCheck != "no value"){
                        var li2Form = document.createElement("Form");
                        li2Form.setAttribute("action","/with_my_orders_first_page");
                        li2Form.setAttribute("method","post");
                            var li2Btn = document.createElement("button");
                            li2Btn.setAttribute("value", signinText);
                            li2Btn.setAttribute("name", "email");
                            li2Btn.innerHTML = "MY ORDERS";
                            li2Btn.style.color= 'black';
                            li2Btn.style.fontWeight= 600;
                            li2Btn.style.fontSize= "14px";
                            li2Btn.style.border= "None";
                            li2Btn.style.backgroundColor= "white";
                            li2Form.append(li2Btn);
                        li2.append(li2Form);
                    } else {
                        var li2ATag2 = document.createElement("a");
                        li2ATag2.setAttribute("href","/no_my_orders");
                        li2ATag2.innerHTML = "MY ORDERS";
                        li2ATag2.style.color= 'black';
                        li2.append(li2ATag2);
                    }
                 document.getElementById("trails2").appendChild(li2);


                 var li3 = document.createElement("li");
                    var li3Span = document.createElement("span");
                    li3Span.setAttribute("class","fas fa-sign-out-alt");
                    li3Span.style.color= 'black';
                    li3Span.style.position= 'relative';
                    li3Span.style.left= '-20px';
                    li3.append(li3Span);

                    var li3PTag = document.createElement("p");
                    li3PTag.setAttribute("onclick","logoutFunction()");
                    li3PTag.innerHTML = "LOGOUT";
                    li3PTag.style.color= 'black';
                    li3PTag.style.fontWeight= '100px';
                    li3PTag.style.fontFamily= 'poppins, sans-serif';
                    li3.append(li3PTag);
                 document.getElementById("trails2").appendChild(li3);
            } else {
                document.getElementById("trails1").innerHTML = "Hi User !!";

                var li1 = document.createElement("li");
                    var li1Span = document.createElement("span");
                    li1Span.setAttribute("class","fas fa-sign-in-alt");
                    li1Span.style.color= 'black';
                    li1Span.style.position= 'relative';
                    li1Span.style.left= '-10px';
                    li1.append(li1Span);

                    var li1PTag = document.createElement("a");
                    li1PTag.setAttribute("href", "{{ url_for('static', filename='signin.html') }}");
                    li1PTag.innerHTML = "LOGIN";
                    li1PTag.style.color= 'black';
                    li1PTag.style.position= 'relative';
                    li1PTag.style.left= '-28px';
                    li1PTag.style.fontFamily= 'poppins, sans-serif';
                    li1.append(li1PTag);
                 document.getElementById("trails2").appendChild(li1);

                var li2 = document.createElement("li");
                    var li2Span = document.createElement("span");
                    li2Span.setAttribute("class","fas fa-shopping-bag");
                    li2Span.style.color= 'black';
                    li2.append(li2Span);

                    var li2ATag = document.createElement("a");
                    li2ATag.setAttribute("href","/no_my_orders");
                    li2ATag.innerHTML = "My Orders";
                    li2ATag.style.color= 'black';
                    li2.append(li2ATag);
                 document.getElementById("trails2").appendChild(li2);
            }

            function logoutFunction(){
                localStorage.removeItem('signin');

                location.reload();
            }

        </script>
    <!-- profile ends -->
    </nav>
  </div>

<!-- header section ends -->
    <div>
        <h1 id="recipe-title" style="color:goldenrod; text-align:center;" >{{recipe_name}}</h1>
    </div><br><br>
<h2 id="ingredients" style="color:goldenrod;">INGREDIENTS</h2>
    <div><br>
        {% for ingredients_details_loop in ingredients_details %}
            {% if ingredients_details_loop[0] >1000 and ingredients_details_loop[0] < 2000 %}
                <div class="row ingredients_details">
                    <div class="col" id="product_name1">
                        <form action="/product" method="post">
                            <button class="pushable" id="button" value="{{ingredients_details_loop[2]}}" name="product_name"><span class="front">{{ingredients_details_loop[2]}}</span></button>
                        </form>
                    </div>
                    <div class="col" id="hypen1">
                        <pre> - </pre>
                    </div>

                    <div class="col" id="measurement1">
                        <p>{{ingredients_details_loop[1]}}</p>
                    </div>

                </div>
            {% else %}
                <div class="row ingredients_details">
                    <div class="col" id="product_name2">
                        <p>{{ingredients_details_loop[2]}}</p>
                    </div>
                    <div class="col" id="hypen2">
                        <pre> - </pre>
                    </div>

                    <div class="col" id="measurement2">
                        <p>{{ingredients_details_loop[1]}}</p>
                    </div>
                    <!---           ADD TO CART IN RECIPE PAGE
                    <div id="cart">
                        {% if ingredients_details_loop[0] >1000 and ingredients_details_loop[0] < 2000 %}
                            <pre style="display: inline-block; font-family: Times New Roman; color:black;"><b>    &#8377;{{ingredients_details_loop[3]}}</b></pre>
                            <p style="display: inline-block; color:black;">
                                <div class="qua">
                                    <div class="prodCounter">
                                        <div class="prodSub" >-</div>
                                        <div class="prodNum">0</div>
                                        <div class="prodAdd">+</div>
                                    </div>
                                    <button id="prodBtn" onclick="quanFunction(event,this)">ADD TO CART</button>
                                </div>
                            </p>
                        {% endif %}
                    </div>---->
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div>
        <br><br>
        <h2 id="instructions" style="color:goldenrod;">INSTRUCTIONS</h2><br>
        {% for instructions_details_loop in instructions_details %}
            <p  class="instructions_details">{{instructions_details_loop}}</p>
        {% endfor %}
    </div><br><br>


<!----FOOTER--->
  <div class="main-content" id="footer">
        <div class="center box">
          <h2>Address</h2>
          <div class="content">
            <div class="place">
              <span class="fas fa-map-marker-alt"></span>
              <span class="text" style="color: white; font-weight: 400; font-size: 13px; font-family: 'Poppins', sans-serif;">107/143, RKM House,<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   Statebank Colony Phase III,<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Salem-636004.</span>
            </div>
            <div class="phone">
              <span class="fas fa-phone-alt"></span>
              <span class="text" style="color: white; font-weight: 400; font-size: 13px; font-family: 'Poppins', sans-serif;">9841516915</span>
            </div>
            <div class="email">
              <span class="fas fa-envelope"></span>
              <span class="text" style="color: white; font-weight: 400; font-size: 13px; font-family: 'Poppins', sans-serif;">milletsmarket@gmail.com</span>
            </div>
          </div>
        </div>
        <div class="right box">
          <h2>Our Products</h2>
          <div class="content">
              <ul>
                {% for categories_loop in categories %}
                <form action="/product_list" method="post" ><li><button style="background-color:black; border:None; font-size:13px; font-weight:25px; color:white;" name="category_name" value="{{categories_loop[1]}}">{{categories_loop[1]}}</button></li></form>
                {% endfor %}
              </ul>
          </div>
        </div>

          <div class="right box">
          <h2>Recipes</h2>
          <div class="content">
              <ul>
                  <li><a style="background-color:black; font-size: 14px;" href="/diabetic">Diabetic Corner</a></li>
                  <li><a style="background-color:black; font-size: 14px;" href="/snacks">Snacks & Recipes</a></li>
                  <li><a style="background-color:black; font-size: 14px;" href="/meals">Healthy Meals</a></li>
              </ul><br><br>
          </div>
        </div>

          <div class="right box">
          <h2>Useful Links</h2>
          <div class="content">
              <ul>
                  <form action="/"><li><button style="background-color:black; border:None; font-size: 13px;font-weight: 25px; color:white;">Home</button></li></form>
                  <li><a href="{{ url_for('static', filename='signin.html') }}">Login</a></li>
                  <li id="my_order"></li>
                  <li><a href="/order_summary">My Cart</a></li>
                  <script>
                        var email = localStorage.getItem('signin');
                        console.log(email);
                        if (email != null){
                            var orderIdCheck = localStorage.getItem('order_check');
                            if (orderIdCheck != '{{order_id}}' && '{{order_id}}' != ""){
                                localStorage.setItem('order_check', '{{order_id}}');
                                var orderId = localStorage.getItem('order_check');
                            }
                            console.log("00")
                            console.log(orderIdCheck)
                            if (orderIdCheck != "no value"){
                                var li2Form = document.createElement("Form");
                                li2Form.setAttribute("action","/with_my_orders_first_page");
                                li2Form.setAttribute("method","post");
                                    var li2Btn = document.createElement("button");
                                    li2Btn.setAttribute("value", signinText);
                                    li2Btn.setAttribute("name", "email");
                                    li2Btn.innerHTML = "My Orders";
                                    li2Btn.style.color= 'white';
                                    li2Btn.style.fontWeight= 600;
                                    li2Btn.style.fontSize= "14px";
                                    li2Btn.style.border= "None";
                                    li2Btn.style.backgroundColor= "black";
                                    li2Form.append(li2Btn);
                                document.getElementById("my_order").appendChild(li2Form);
                            } else {
                                var li2ATag2 = document.createElement("a");
                                li2ATag2.setAttribute("href","/no_my_orders");
                                li2ATag2.innerHTML = "My Orders";
                                li2ATag2.style.color= 'white';
                                document.getElementById("my_order").appendChild(li2ATag2);
                            }

                        }else{
                            var li2ATag = document.createElement("a");
                            li2ATag.setAttribute("href","/no_my_orders");
                            li2ATag.innerHTML = "My Orders";
                            li2ATag.style.color= 'white';
                            document.getElementById("my_order").appendChild(li2ATag);
                        }

                  </script>
              </ul><br>
          </div>
        </div>

      </div>
      <div class="bottom">
        <center>
          <span class="credit">Created By <a href="https://www.apsilon.in">Apsilon Technology solutions</a> | </span>
          <span class="far fa-copyright"></span><span> 2020 All rights reserved.</span>
        </center>
      </div><!----FOOTER END---->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="static/assets/js/inner_recipes.js"></script>
</body>
</html>


