<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Millets Market Signin</title>
    <link rel="stylesheet" href="static/assets/css/signup.css">
</head>

<body>
<form action="/new_password" method="post">
  <div class="box">
    <div class="form">
      <h2>New Password</h2>
      <div class="inputBox">
          <input type="password" required="required" name="new_password">
          <span>Password</span>
          <i></i>
      </div>
      <input type="submit" value="Continue">
  </div>
  </div>
</form>
</body>
</html>

