<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Millets Market Password Assistance</title>
    <link rel="stylesheet" href="assets/css/signup.css">
</head>
<body>
<form method="post" action="/forgot_password">
  <div class="box">
    <div class="form">
      <h2>Password Assistance</h2><br>
        <p style="color:grey;">Enter the email address associated with your millets market account</p>
      <div class="inputBox">
          <input type="text" required="required" name="email">
          <span>email</span>
          <i></i>
      </div>
      <input type="submit" value="Continue">
  </div>
  </div>
</form>
</body>
</html>