<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Millets Market Signup</title>
    <link rel="stylesheet" href="static/assets/css/customer_details.css">
</head>
<body>
<form method="post" action="/signup1">
  <div class="box">
    <div class="form">
      <h2>SIGN UP</h2>
      <div class="inputBox">
          <input type="text" name=phone required="required">
          <span>Phone</span>
          <i></i>
      </div>
        <div class="inputBox">
          <input type="text" name=username required="required">
          <span>Name</span>
          <i></i>
      </div>
        <div class="inputBox">
          <input type="text" name=address required="required">
          <span>Address</span>
          <i></i>
      </div>
        <div class="inputBox">
          <input type="text" name=city required="required">
          <span>City</span>
          <i></i>
      </div>
        <div class="inputBox">
          <input type="text" name=state required="required">
          <span>State</span>
          <i></i>
      </div>
        <div class="inputBox">
          <input type="text" name=pincode required="required">
          <span>Pin Code</span>
          <i></i>
      </div>

      <div class="inputBox">
          <input type="password" name=password required="required">
          <span>Password</span>
          <i></i>
      </div>

      <div class="links">
          <a href="signin.html">Login</a>
      </div>
      <input type="submit" value="Signup">
  </div>
  </div>
    </form>
</body>
</html>